@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #333;
    outline: none;
}

a                                     {text-decoration: none;}
a:link                              {color: #333;}
a:active                          {color: #333;}
a:visited                         {color: #222;}
a:hover                           {color: #222;}
ul                                    {list-style: none;}
img                                 {vertical-align: middle;}

h1 {
    padding: 2px 12px 2px 0;

    border-bottom: 3px solid #222;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;

    display: inline-block;
}
/* Reset */


/* 가이드 라인 */
/*div#headerBG                 {border: 1px solid #000;}*/
/*div#wrap                         {border: 1px solid #000;}*/
/*nav#gnb                          {border: 1px solid #000;}*/
/*main#main                      {border: 1px solid #000;}*/
/*#main #msShuttleFrame {border: 1px solid #000;}*/
/*footer#footer                   {border: 1px solid #000;} */
/*#fnb ul                             {border: 1px solid #000;}*/
/* 가이드 라인 */


/* 맨 위로 이동 */
body>#topBtn {
    width: 45px;
    height: 45px;
    line-height: 40px;
    border: 1px solid #ccc;
    background-color: #fff;
    text-align: center;

    position: fixed;
    top: 92%;
    right: 2%;

    z-index: 999;

    display: none;
}
/* 맨 위로 이동 */



/* 헤더 부분 */
div#headerBG {
    width: 100%;
    height: 100px;
    margin-top: 20px;
    background-color: #fff;

    position: fixed;
    top: -20px;
    z-index: 3;
}
#headerBG #header {
    width: 1600px;
    display: flex;
}
    /* 헤더 로고 */
#headerBG #header #headerLogo {
    width: 200px;
    margin: 0 60px;
    line-height: 80px;
}
    /* 헤더 로고 */

    /* 검색창 */
#headerBG #header #search {
    width: 410px;
    margin-right: 80px;
}
#headerBG #header #search input {
    width: 400px;
    height: 45px;
    padding: 2px 2px 2px 10px;
    margin-top: 6%;

    font-size: 16px;
    border: none;
    border-bottom: 2px solid #666;

    background-image: url(../images/Icon/top_search.png);
    background-repeat: no-repeat;
    background-position: 366px;
}
#headerBG #header #search input::placeholder {
    font-size: 15px;
    color: #454545;
}
#headerBG #header #search input:focus-within {
    transition: 0.3s;
    border-bottom: 2px solid #2dffb5;
}
    /* 검색창 */


    /* GNB 메뉴 */
#headerBG #header nav#gnb {
    width: 370px;
    margin-top: 30px;
    margin-left: 35px;
}
#headerBG #header nav#gnb ul#mainMenu {
    text-align: center;

    display: flex;
    position: relative;
}
#headerBG #header nav#gnb ul#mainMenu>li>a {
    width: 120px;
    height: 50px;
    line-height: 50px;
/*    border: 1px solid #000;*/
    text-align: center;
    font-weight: bold;

    display: inline-block;
}
#headerBG #header nav#gnb li:hover a {
    color: #2ae5a3;
}
#headerBG #header nav#gnb ul.subMenu {
    display: none;
}
#headerBG #header nav#gnb ul.subMenu>li>a {
    width: 120px;
    height: 50px;
    line-height: 50px;
/*    border: 1px solid #000;*/
    background-color: #fff;
    font-weight: bold;

    color: #444;
    display: inline-block;
    position: relative;
}

#headerBG #header nav#gnb ul.subMenu>li>a:hover {
    background-color: #f8f8f8;
    transition: 0.3s;
}
    /* GNB 메뉴 */


    /* LNB 메뉴 */
#headerBG #header #lnb {
    width: 310px;
    margin-left: 35px;
/*    border: 1px solid #000;*/
    display: flex;
}
#headerBG #header #lnb a {
    width: 80px;
    height: 60px;
    margin-top: 10%;
    margin-left: 10%;
    line-height: 25px;

    font-size: 14px;
    color: #666;
    font-weight: bold;
    text-align: center;
}
#headerBG #header #lnb a:nth-child(2) {
    padding-top: 2px;
    margin-left: 30px;
    display: inline-block;
}
#headerBG #header #lnb a:last-child {
    padding-top: 4px;
}
#headerBG #header #lnb a>span {
    width: 60px;
    margin-top: 3px;
    display: inline-block;
}
#headerBG #header #lnb a:hover>span {
    color: #666;
    text-decoration: underline;
}
    /* LNB 메뉴 */

/* 헤더 부분 */





/* div#wrap */
div#wrap {
    width: 670px;
    margin: 135px auto;
}
/* div#wrap */



/* div#joinArea */
#wrap #joinArea>#joinTitle>p{
    text-align: center;
}
    /* 회원가입 타이틀 */
#wrap #joinArea #joinTitle p {
    margin-bottom: 30px;

    font-family: 'Noto Sans KR', sans-serif;
    font-size: 44px;
    font-weight: bold;
}
    /* 회원가입 타이틀 */




#infoArea {
    margin-top: 25px;
    margin-bottom: 18px;
    font-family: 'Noto Sans KR', sans-serif;
    border: 1px solid #b5b5b5;
    border-radius: 4px;
}
        /*span - input*/
#infoArea span:not(#nameChkMsg,#idChkMsg, #pwChkMsg) {
    width: 670px;
    height: 53px;
    line-height: 53px;
    display: inline-block;
}
#infoArea span input:not(.radio), select {
    width: 200px;
    height: 50px;

    padding-left: 20px;
    color: #333;
    font-size: 17px;
    font-weight: bold;

    border: none;
    outline: none;
}


    /* ////// select //////*/
select {
    -webkit-appearance: none;
}
select::-ms-expand {
    display : none;
}
select {
    width: 80px;
    border: none;
    background-image:url("../images/Icon/downArrow_01.png");
    background-position: 80px;
    background-repeat: no-repeat;
}
    /* ////// select //////*/



#infoArea span input::placeholder {
    color: #333;
    font-weight: bold;
    font-size: 17px;
}
#infoArea span input:focus::placeholder {
    transition: 0.2s;
    color: #b5b5b5;
}
b#day {
    height: 50px;
    border-bottom: none;
}
#infoArea span select {
    width: 100px;
    height: 44px;
    margin-top: 2px;
    margin-left: 20px;
    border: 1px solid #b5b5b5;
    display: inline-block;
}
#infoArea span input.radio {
    margin-top: 17px;
    margin-left: 20px;
    display: inline-block;
}
        /* button*/
#infoArea .certified {
    position: relative;
}
#infoArea button {
    width: 80px;
    height: 27px;

    border: 1px solid #b5b5b5;
    background-color: #fff;
    border-radius: 3px;
    font-size: 16px;
    color: #666;

    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 20px;
}
        /* button*/
        /*span - input*/
    /*infoArea*/
/*main#main*/

/*aside#aside*/
aside#aside h4 {
    margin-bottom: 10px;
}
aside#aside iframe {
    width: 680px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: none;
}
#aside span {
    margin-bottom: 5px;
    color: #cc0000;
    font-weight: bold;
    display: inline-block;
}
#aside p {
    font-size: 14px;
    color: #8a8a8a;
}

    /* 동의 버튼 */
div#agreeArea {
    margin-top: 30px;
    border: 1px solid #b5b5b5;

    border-radius: 4px;
}
div#agreeArea input {
    width: 15px;
    height: 15px;
}
#agreeArea #allAgree {
    padding: 10px 18px;
    border-bottom: 1px solid #b5b5b5;
    line-height: 25px;
    font-weight: bold;
}
#agreeArea #agree {
    padding: 25px 40px;
    font-weight: bold;
}
#agreeArea #agree button {
    margin-left: 3px;
    padding: 2px 5px;

    border: 1px solid #b5b5b5;
    background-color: #fff;
    border-radius: 2px;
    color: #666;

    cursor: pointer;
}
#agreeArea #agree2 {
    margin-top: -12px;
}
#agreeArea #agree1 input:nth-child(3) {
    margin-left: 135px;
}
#agreeArea #agree2 input:nth-child(3) {
    margin-left: 50px;
}

    /* 동의 버튼 */
/*aside#aside*/


/* 가입완료 버튼 */
button#Join {
    width: 230px;
    height: 65px;
    margin: 20px 0 60px 240px;

    border: 1px solid #575151;
    background-color: #575151;
    border-radius: 6px;
    color: #fff;

    font-size: 19px;
    font-weight: bold;


    cursor: pointer;
}
button#Join:hover {
    background-color: rgba(45, 255, 181, 0.7);
    border: 1px solid rgba(45, 255, 181, 0.7);
}
/* 가입완료 버튼 */




/* 유효성 검사 안내 메세지 */
span#nameChkMsg, #idChkMsg, #pwChkMsg {
    font-size: 13px;
    color: #f00;
    text-decoration: none;
    border: none;
    display: inline-block;
}
/* 유효성 검사 안내 메세지 */





/* div#joinArea */










/* footer#footer */
div#footerBG {
    width: 100%;
    margin-bottom: 60px;
    display: inline-block;

    position: relative;
    left: 0;
    top: 0;
}
footer#footer {
    width: 1350px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
    /* 푸터 GNB / copyRight */
#footer #footerArea {
    width: 840px;
    padding-top: 10px;

    display: inline-block;
}
#footer #footerArea #fnb ul {
    display: flex;
}
#footer #footerArea #fnb ul a:hover {
    text-decoration: underline;
}
#footer #footerArea #fnb ul a {
    width: 150px;
    padding: 10px 0;

    color: #545454;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
/*    border: 1px solid #000;*/

    display: inline-block;
}
#footer #footerArea #address {
    margin-top: 20px;

    line-height: 22px;
    font-size: 14px;
    color: #777;

    display: inline-block;
}
    /* 푸터 GNB / copyRight */


/* Contact Us */
#footer #contact {
    width: 200px;
    margin-right: 10px;
}
#footer #contact h1 {
    font-size: 28px;
    margin-bottom: 15px;
}
#footer #contact p {
    font-size: 15px;
    line-height: 23px;
}
/* Contact Us */


    /* SNS */
#footer #follow {
    width: 134px;
    margin-left: 10px;
    text-align: center;
}
#footer #snsArea #snsImg {
    padding-left: 4px;
    display: flex;
    justify-content: space-around;
}
#footer #snsArea h1 {
    font-size: 26px;
    margin-bottom: 15px;
}
#footer #snsArea a {
    margin-right: 11px;
}
    /* SNS */

    /* 패밀리 사이트 */
#footer #Maps select {
    padding: 5px 10px;
    margin-top: 15px;
    margin-right: 2px;

    font-size: 17px;
}
    /* 패밀리 사이트 */

/* footer#footer */






header, main, aside, footer, input:not(.check) {
    display: inline-block;
}
span {
    display: block;
}
