@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap');

/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #333;
    outline: none;
}

a                                     {text-decoration: none;}
a:link                              {color: #333;}
a:active                          {color: #333;}
a:visited                         {color: #222;}
a:hover                           {color: #222;}
ul                                    {list-style: none;}
img                                 {vertical-align: middle;}

h1 {
    padding: 2px 12px 2px 0;

    border-bottom: 3px solid #222;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;

    display: inline-block;
}
/* Reset */


/* 가이드 라인 */
/*div#headerBG                 {border: 1px solid #000;}*/
/*div#wrap                         {border: 1px solid #000;}*/
/*nav#gnb                          {border: 1px solid #000;}*/
/*main#main                      {border: 1px solid #000;}*/
/*#main #msShuttleFrame {border: 1px solid #000;}*/
/*footer#footer                   {border: 1px solid #000;} */
/*#fnb ul                             {border: 1px solid #000;}*/
/* 가이드 라인 */


/* 맨 위로 이동 */
body>#topBtn {
    width: 45px;
    height: 45px;
    line-height: 40px;
    border: 1px solid #ccc;
    background-color: #fff;
    text-align: center;

    position: fixed;
    top: 92%;
    right: 2%;

    z-index: 999;

    display: none;
}
/* 맨 위로 이동 */



/* 헤더 부분 */
div#headerBG {
    width: 100%;
    height: 100px;
    margin-top: 20px;
    background-color: #fff;

    position: fixed;
    top: -20px;
    z-index: 3;
}
#headerBG #header {
    width: 1600px;
    display: flex;
}
    /* 헤더 로고 */
#headerBG #header #headerLogo {
    width: 200px;
    margin: 0 60px;
    line-height: 80px;
}
    /* 헤더 로고 */

    /* 검색창 */
#headerBG #header #search {
    width: 410px;
    margin-right: 80px;
}
#headerBG #header #search input {
    width: 400px;
    height: 45px;
    padding: 2px 2px 2px 10px;
    margin-top: 6%;

    font-size: 16px;
    border: none;
    border-bottom: 2px solid #666;

    background-image: url(../images/Icon/top_search.png);
    background-repeat: no-repeat;
    background-position: 366px;
}
#headerBG #header #search input::placeholder {
    font-size: 15px;
    color: #454545;
}
#headerBG #header #search input:focus-within {
    transition: 0.3s;
    border-bottom: 2px solid #2dffb5;
}
    /* 검색창 */


    /* GNB 메뉴 */
#headerBG #header nav#gnb {
    width: 370px;
    margin-top: 30px;
    margin-left: 35px;
}
#headerBG #header nav#gnb ul#mainMenu {
    text-align: center;

    display: flex;
    position: relative;
}
#headerBG #header nav#gnb ul#mainMenu>li>a {
    width: 120px;
    height: 50px;
    line-height: 50px;
/*    border: 1px solid #000;*/
    text-align: center;
    font-weight: bold;

    display: inline-block;
}
#headerBG #header nav#gnb li:hover a {
    color: #2ae5a3;
}
#headerBG #header nav#gnb ul.subMenu {
    display: none;
}
#headerBG #header nav#gnb ul.subMenu>li>a {
    width: 120px;
    height: 50px;
    line-height: 50px;
/*    border: 1px solid #000;*/
    background-color: #fff;
    font-weight: bold;

    color: #444;
    display: inline-block;
    position: relative;
}

#headerBG #header nav#gnb ul.subMenu>li>a:hover {
    background-color: #f8f8f8;
    transition: 0.3s;
}
    /* GNB 메뉴 */


    /* LNB 메뉴 */
#headerBG #header #lnb {
    width: 310px;
    margin-left: 35px;
/*    border: 1px solid #000;*/
    display: flex;
}
#headerBG #header #lnb a {
    width: 80px;
    height: 60px;
    margin-top: 10%;
    margin-left: 10%;
    line-height: 25px;

    font-size: 14px;
    color: #666;
    font-weight: bold;
    text-align: center;
}
#headerBG #header #lnb a:nth-child(2) {
    padding-top: 2px;
    margin-left: 30px;
    display: inline-block;
}
#headerBG #header #lnb a:last-child {
    padding-top: 4px;
}
#headerBG #header #lnb a>span {
    width: 60px;
    margin-top: 3px;
    display: inline-block;
}
#headerBG #header #lnb a:hover>span {
    color: #666;
    text-decoration: underline;
}
    /* LNB 메뉴 */

/* 헤더 부분 */




/* div#wrap */
div#wrap {
    width: 1300px;
    margin: 125px auto;
}
/* div#wrap */



/* aside 콘텐츠 */
aside#aside {
    width: 1300px;
    margin-top: 75px;
    margin-bottom: 100px;
}
    /* ///////// 주방가구 ///////// */
#aside div#Kit_Area {
    width: 1300px;
}
#aside div#Kit_Area p.Kit_title {
    width: 1300px;
    margin-bottom: 20px;

    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 44px;

    display: inline-block;
}
#aside div#Kit_Area>span {
    margin: 12px 6px 40px 0;

    color: #444;
    font-size: 15px;
    display: inline-block;
}
#aside div#Kit_Area .Kit_content {
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
}
#aside div#Kit_Area .Kit_content .Kit_Img:hover img {
    opacity: 0.4;
}

        /* ///////// 제품 이름 / 가격 ///////// */
#aside .Kit_content div.Kit_Img {
    width: 250px;
    cursor: pointer;
}
#aside .Kit_Img .Kit_text span {
    margin: 15px 0 0;
    font-size: 15px;
    display: inline-block;
}
#aside div#Kit_Area .Kit_Img:hover span {
    text-decoration: underline;
}
#aside div#Kit_Area .Kit_Img:hover {
    background-image: url(../images/Icon/top_search.png);
    background-repeat: no-repeat;
    background-position: 93% 10px;
}
#aside .Kit_Img .Kit_text p {
    font-weight: bold;
    font-size: 18px;
}
        /* ///////// 제품 이름 / 가격 ///////// */
    /* ///////// 주방가구 ///////// */

/* aside 콘텐츠 */


/* 푸터 슬라이드 */
div#footSlide {
    width: 84.7%;
    height: 170px;
    margin: 0 auto;

    overflow: hidden;
}
#footSlide #footShuttleFrame {
    width: 1965px;
    display: flex;
    justify-content: space-around;
}
/* 푸터 슬라이드 */


/* footer#footer */
div#footerBG {
    width: 100%;
    margin-top: 75px;
    margin-bottom: 60px;
    display: inline-block;

    position: relative;
    left: 0;
    top: 0;
}
footer#footer {
    width: 1350px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
    /* 푸터 GNB / copyRight */
#footer #footerArea {
    width: 840px;
    padding-top: 10px;

    display: inline-block;
}
#footer #footerArea #fnb ul {
    display: flex;
}
#footer #footerArea #fnb ul a:hover {
    text-decoration: underline;
}
#footer #footerArea #fnb ul a {
    width: 150px;
    padding: 10px 0;

    color: #545454;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
/*    border: 1px solid #000;*/

    display: inline-block;
}
#footer #footerArea #address {
    margin-top: 20px;

    line-height: 22px;
    font-size: 14px;
    color: #777;

    display: inline-block;
}
    /* 푸터 GNB / copyRight */


/* Contact Us */
#footer #contact {
    width: 200px;
    margin-right: 10px;
}
#footer #contact h1 {
    font-size: 28px;
    margin-bottom: 15px;
}
#footer #contact p {
    font-size: 15px;
    line-height: 23px;
}
/* Contact Us */


    /* SNS */
#footer #follow {
    width: 134px;
    margin-left: 10px;
    text-align: center;
}
#footer #snsArea #snsImg {
    padding-left: 4px;
    display: flex;
    justify-content: space-around;
}
#footer #snsArea h1 {
    font-size: 26px;
    margin-bottom: 15px;
}
#footer #snsArea a {
    margin-right: 11px;
}
    /* SNS */

    /* 패밀리 사이트 */
#footer #Maps select {
    padding: 5px 10px;
    margin-top: 15px;
    margin-right: 2px;

    font-size: 17px;
}
    /* 패밀리 사이트 */

/* footer#footer */



/* 모달레이어 */
body>div.modal {
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;

    z-index: 999;

    display: none;
}
div.popUp {
    max-width: 900px;
    min-width: 870px;
    max-height: 600px;
    min-height: 570px;
    padding: 15px;

    text-align: center;
    background-color: #fff;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%);

    display: flex;
}

div.modalSide a {
    margin-left: 6.3%;

    display: inline-block;
}

div.popUp span {
    width: 300px;
    margin-top: 3%;
    margin-left: 6%;
    text-align: left;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 21px;

    display: inline-block;
}
div.popUp b {
    display: block;
}
.modal .popUp div.modalSide>button {
    width: 45px;
    height: 45px;
    font-size: 42px;
    border: none;
    color: #fff;
    background-color: #444;

    position: absolute;
    left: 102%;
    bottom: 102%;

    cursor: pointer;
}

    /* 찜&장바구니 아이콘 */
div.delivery {
    margin-top: -10%;
    margin-left: 79.5%;
}
div.delivery i {
    font-size: 23px;

    position: relative;
    top: 3px;
}
div.delivery a:nth-child(2) {
    display: none;
}
div.deliveryBtn button {
    cursor: pointer;
}
div.deliveryBtn button:first-child {
    width: 100px;
    padding: 10px 0;

    font-size: 17px;
    color: #fff;
    background-color: #555;
    border: none;
    outline: none;

    position: absolute;
    top: 90%;
    left: 74%;
}
div.deliveryBtn button:last-child {
    width: 100px;
    padding: 10px 0;

    font-size: 17px;
    color: #fff;
    background-color: #555;
    border: none;
    outline: none;

    position: absolute;
    top: 90%;
    left: 87%;
}
    /* 찜&장바구니 아이콘 */


    /* 제품 정보 */
.modal .productInfo {
    margin-top: 3%;
    margin-left: 7%;

/*    border: 1px solid #000;*/
    text-align: left;
    font-size: 15px;

}
.modal .productInfo>ul {
    padding: 2px 0;
    font-size: 16px;
    display: flex;
}
.modal .productInfo ul li:first-child {
    margin-right: 22px;
    font-family: 'Noto Sans KR', sans-serif;
}
.modal .productInfo ul li:last-child {
    width: 203px;
/*    border: 1px solid #000;*/
    padding-top: 2px;
    font-size: 14px;
}
.modal .productInfo>ul:last-child li:last-child {
    margin-left: -14px;
    line-height: 23px;
}
    /* 제품 정보 */
/* 모달레이어 */






header, main, aside, footer {
    display: block;
}
